/*CSS-en gjelder alle elementer i body*/
body {
  margin: 0;
  font-family: 'Verdana';
  background: whitesmoke;
}

/*CSS for bilder i nettsiden*/

#hjernebilde{
 margin-bottom: -15%;
}

#validator{
  margin-bottom: 10%;
 }

/*CSS for bilder i main tag med id="content"*/
#content img {
  margin-top: 5%;
  grid-template-rows: auto auto;
  grid-column: 1/4;
  margin-right: 1em;
  margin-left: 1em;
  width: 75%;
  height: 75%;
  justify-self: center;
}

/*CSS for bildet på forsiden / index.html*/
.Main-picture {
  margin: 0;
  width: 100%; /* Ensure the image takes the full width of the container */
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  height: auto; /* Maintain the aspect ratio of the image */
  text-align: center;
  border-radius: 15px;
}

/*CSS for overskrift. Sørger for at overskriften er sentrert*/
#overskrift {
  text-align: center;
}

/*Font for nettsiden*/
@font-face {
  src: url("./poppins.ttf");
  font-family: "Poppins";
}
/*CSS for a-tag*/
a {
  text-decoration: none;
}
/*CSS for navbar*/
.navcontainer {
  max-width: 1400px;
  margin: auto;
}

/*CSS for skip knapp*/
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:1;
}

/*CSS for skip knapp når den er synlig*/
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: 3%;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px 4px 4px 4px solid black;
  text-align:center;
  font-size:1.2em;
}

/*CSS til nav-bar, container classen og ul som tilhører navbar*/
#primary-nav {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  width: 80%;
  background: #fefefe;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}
#primary-nav .container {
  padding: 0 10px;
}
#primary-nav ul {
  background-color: white;
  grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
  display: grid;
  align-content: center;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  list-style-type: none;
}

/*Media queries. Endrer egenskaper og størrelser på ulike elementer basert på bredden til nettsiden, målt i pixler.
Alle elementene innenfor media-taggen har følgende egenskaper dersom minimumsbredden til nettsiden er 848 px*/
@media (min-width: 848px) {
  #primary-nav ul {
    display: grid;
 }


}
#primary-nav ul li a {
  color: black;
  text-transform: uppercase; 
  display: block;
  text-align: center;   
  padding: 8px 18px;
  transition: 0.4s ease-in;
  font-family: 'Roboto', sans-serif;
  margin: 0 2px;
  font-weight: 600;
  border-radius: 30px;
}
#primary-nav ul li a:hover, #primary-nav ul li a:focus {
  color: white;
  background: #090816;
}
#primary-nav ul li a:active {
  border: 2px solid lime;
}
.logo {
  max-width: 82px;
  padding: 1em;
}
.main-nav {
  grid-column: 1 / span 2;
}
#hamburger {
  margin: 1em;
  justify-self: end;
  display: block;
  background: #fff;
  border: none;
  font-size: 1.2em;
  line-height: 1;
}
#hamburger #expanded {
  display: none;
}
#hamburger svg {  
  width: 3em;
  height: 3em;
  background: white;
}
#hamburger span {
  display: block;
  position: relative;
  top: 5%;
}
@media (min-width: 848px) {
  #hamburger {
    display: none;
 }
}
#hamburger[aria-expanded='true'] {
  color: #000;
}
#hamburger[aria-expanded='true'] svg {
  background: #262262;
  fill: white;
}
#hamburger[aria-expanded='true'] span {
  position: static;
}
#hamburger[aria-expanded='true'] #expanded {
  display: block;
}
#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}
.js-enabled .main-nav {
  display: none;
}

@media (min-width: 848px) {
  .js-enabled .main-nav {
    display: block;
 }
}

/*Alle elementene innenfor media-taggen har følgende egenskaper dersom maksimumsbredden til nettsiden er 847 px.
Dette fører til at nettsidens "oppskrift endrer seg når skjermbredden går fra 848px til 847px eller mindre."*/
@media (max-width: 847px) {
  #primary-nav ul {
    display: flex;
    flex-direction: column; /* Vise elementene i navbaren vertikalt */
  }

  a.skip-main:focus, a.skip-main:active {
    left: 0%;
   }

  #primary-nav ul li {
    margin-right: 6%; /* Ta bort horisontal mellomrom mellom elementer */
    margin-bottom: 20px; /* Legger til vertikal mellomrom mellom elementene */
  }
  .container {
    grid-template-columns: repeat(1, minmax(15.625rem, 1fr));
  }
}
/*Grid-system for intro*/
.intro {
  margin-top: 2%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 68ch)
    minmax(1.2rem, 1fr);
}
/*CSS for headings og paragraf tags i intro*/
.intro p {
  margin-top: 2%;
  margin-bottom: 1%;
}
.intro h1 {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-bottom: 5%;
}
.intro h2 {
  margin-top: 1%;
  margin-bottom: 2%;
}

/*Hovedintroet skal legges i grid-column 2 sånn at det følger en form*/
.intro h1,
h2,h3,
p,
blockquote,
ul {
  grid-column: 2;
}
/*CSS for posisjon, størrelse og farge for blockquote*/
.intro ul {
  margin: 0px 0;
  color: #221919;
  border-left: 3px solid black;
  padding-left: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.15rem;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: white;
}

/*CSS til klassen "main-content" som tilhører main tagen i library.html*/
.main-content {
  box-sizing: border-box;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin-top:2em ;
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "frame-selection summary"
    "navigation  summary";
}

/*CSS til frame-selection, h1 og p i library.html*/
.frame-selection {
  grid-area: frame-selection;
  height: 100%;
  padding-right: 1em;
  border-right: 0.1em solid black;
  
}

.frame-selection h1 {
  margin-top: 0;
  font-family: "Canela";
  font-size: 2.5em;
  font-weight: 300;
}

.frame-selection p {
  color: #57534e;
}

/*CSS for div "item-options"*/
.item-options {
  display: flex;
}

/*CSS for figuret i div-en "item-options"*/
.artwork-preview {
  margin:0;
}
.artwork-preview img {
  border: 1px solid #000000;
}

/*CSS for aside tagen som tilhører informasjonen som vises på siden i library.html*/
aside {
  -ms-grid-row: 1 / 3;
  -ms-grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 1.5em 2em;
 margin-left: 1em;
}


aside h2 {
  color: #292524;
  font-size: 1.125em;
  font-weight: 500;
}

aside img {
  width: 80px;
  height: auto;
  margin-top: 1em;
}

/*Alle elementene innenfor media-taggen har følgende egenskaper dersom maksimumsbredden til nettsiden er 640 px*/
@media screen and (max-width: 640px) {
  .main-content {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "frame-selection"
      "navigation";
  }
  .frame-selection{
      padding-right: 0;
      border-right: 0;
      border-bottom: 0.1em solid black;
  }    
  .item-options {
    flex-direction: column;
  }

}

/*Endrer egenskapene til "skip to main" knappen slik at den passer med mindre skjermbredde*/
@media (max-width: 380px) { 

  a.skip-main:focus, a.skip-main:active {
    left: -13%;
    width: 30%;
    height: 10%;
    top: 15%;
    font-size:0.90em;
   }

}



