body {
  margin: 0;
  font-family: 'Verdana';
  background: whitesmoke;
}

/*CSS for bilder i innhold*/

#hjernebilde{
 margin-bottom: -15%;
}
#content img {
  margin-top: 5%;
  grid-template-rows: auto auto;
  grid-column: 1/4;
  margin-right: 1em;
  margin-left: 1em;
  width: 75%;
  height: 75%;
  justify-self: center;
}
.Main-picture {
  margin: 0;
  width: 100%; /* Ensure the image takes the full width of the container */
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  height: auto; /* Maintain the aspect ratio of the image */
  text-align: center;
  border-radius: 15px;
}
#overskrift {
  text-align: center;
}

/*Fonter*/
@font-face {
  src: url("./poppins.ttf");
  font-family: "Poppins";
}

a {
  text-decoration: none;
}
.navcontainer {
  max-width: 1400px;
  margin: auto;
}
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:1;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: 3%;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px 4px 4px 4px solid black;
  text-align:center;
  font-size:1.2em;
}
#primary-nav {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  width: 80%;
  background: #fefefe;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}
#primary-nav .container {
  padding: 0 10px;
}
#primary-nav ul {
  background-color: white;
  grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
  display: grid;
  align-content: center;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  list-style-type: none;
}


@media (min-width: 848px) {
  #primary-nav ul {
    display: grid;
 }


}
#primary-nav ul li a {
  color: black;
  text-transform: uppercase; 
  display: block;
  text-align: center;   
  padding: 8px 18px;
  transition: 0.4s ease-in;
  font-family: 'Roboto', sans-serif;
  margin: 0 2px;
  font-weight: 600;
  border-radius: 30px;
}
#primary-nav ul li a:hover, #primary-nav ul li a:focus {
  color: white;
  background: #090816;
}
#primary-nav ul li a:active {
  border: 2px solid lime;
}
.logo {
  max-width: 82px;
  padding: 1em;
}
.main-nav {
  grid-column: 1 / span 2;
}
#hamburger {
  margin: 1em;
  justify-self: end;
  display: block;
  background: #fff;
  border: none;
  font-size: 1.2em;
  line-height: 1;
}
#hamburger #expanded {
  display: none;
}
#hamburger svg {  
  width: 3em;
  height: 3em;
  background: white;
}
#hamburger span {
  display: block;
  position: relative;
  top: 5%;
}
@media (min-width: 848px) {
  #hamburger {
    display: none;
 }
}
#hamburger[aria-expanded='true'] {
  color: #000;
}
#hamburger[aria-expanded='true'] svg {
  background: #262262;
  fill: white;
}
#hamburger[aria-expanded='true'] span {
  position: static;
}
#hamburger[aria-expanded='true'] #expanded {
  display: block;
}
#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}
.js-enabled .main-nav {
  display: none;
}

@media (min-width: 848px) {
  .js-enabled .main-nav {
    display: block;
 }
}
@media (max-width: 847px) {
  #primary-nav ul {
    display: flex;
    flex-direction: column; /* Display the menu items vertically */
  }

  a.skip-main:focus, a.skip-main:active {
    left: 0%;
   }

  #primary-nav ul li {
    margin-right: 6%; /* Remove any horizontal spacing between items */
    margin-bottom: 20px; /* Add vertical spacing between items */
  }
  .container {
    grid-template-columns: repeat(1, minmax(15.625rem, 1fr));
  }
}
/*Grid-system for intro*/
.intro {
  margin-top: 2%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 68ch)
    minmax(1.2rem, 1fr);
}
/*CSS for headings og paragraf tags i intro*/
.intro p {
  margin-top: 2%;
  margin-bottom: 1%;
}
.intro h1 {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-bottom: 5%;
}
.intro h2 {
  margin-top: 1%;
  margin-bottom: 2%;
}

/*Hovedintroet skal legges i grid-column 2 sånn at det følger en form*/
.intro h1,
h2,
p,
blockquote,
ul {
  grid-column: 2;
}
/*CSS for posisjon, størrelse og farge for blockquote*/
.intro ul {
  margin: 0px 0;
  color: #221919;
  border-left: 3px solid black;
  padding-left: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.15rem;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: white;
}
.main-content {
  box-sizing: border-box;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin-top:2em ;
  margin-left: 2em;
  margin-right: 2em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "frame-selection summary"
    "navigation  summary";
}

.frame-selection {
  grid-area: frame-selection;
  height: 100%;
  padding-right: 1em;
  border-right: 0.1em solid #0a0705;
}

.frame-selection h1 {
  margin-top: 0;
  font-family: "Canela";
  font-size: 2.5em;
  font-weight: 300;
}

.frame-selection p {
  color: #57534e;
}

.item-options {
  display: flex;
}

.artwork-preview {
  
  margin: 2em 2em 2em 0;
}
.artwork-preview img {
  border: 1px solid #000000;
  max-width: 50%; /* You can adjust this percentage to your desired size */
  max-height: 50%; /* You can adjust this percentage to your desired size */
  width: auto;
  height: auto;
}
.artwork-preview img,
.summary img {
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  grid-area: navigation;
  justify-content: flex-end;
  padding-top: 1em;
  border-top: 0.1em solid #0a0705;
  margin: 2em;
}

.navigation button {
  width: 8em;
  height: 3em;
  padding-bottom: 0.175em;
  border: 2px solid #6366f1;
  border-radius: 3em;
  background: #e0e7ff;
  color: #4338ca;
  font-size: 1.125em;
  font-weight: 500;
}

.summary {
  -ms-grid-row: 1 / 3;
  -ms-grid-column: 2 / 3;
  grid-area: summary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 1.5em 2em;
  border-left: 1px solid #e5e5e5;
}

@media screen and (max-width: 640px) {
  .main-content {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "frame-selection"
      "summary"
      "navigation";
  }
  .frame-selection{
      padding-right: 0;
      border-right: 0;
  }    
  .item-options {
    flex-direction: column;
  }

  .summary {
    grid-area: summary;
    padding: 1em 10%;
    border: none;
  }

  .navigation {
    grid-area: navigation;
    justify-content: center;
    padding: 1em;
  }

  .navigation button {
    width: 50%;
  }
}




